.main-content {
  padding: 20px;
}
@media (min-width: 577px) and (max-width: 768px) {
  .main-content {
    padding: 10px;
  }
}
@media (max-width: 576px) {
  .main-content {
    padding: 10px;
  }
}
